.top{
    height: 100px;
    width: 100px;
    background-color: red;
    position:absolute;
    left: 200px;
    top: 200px;
}
.mid{
    height: 100px;
    width: 100px;
    background-color: blue;
    position:absolute;
    left: 100px;
    top: 100px;
}
.bottom{
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
}
body{
    margin: 0;
}